/*reglas
selectores
declaraciones
propiedades
valores*/
/* selector de etiqueta*/
/*
header {
    background: brown;
}
*/

/*selector descendente*/
/*body header nav ol li a */

/*selector de clase*/
/* .link */

/*selector de id #*/

/* #portafolio */

/* gris oscuro: #1d252c , gris claro= #6266262, celeste = #026fff
*/
ol,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure {
    margin: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    margin: 0px;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 35px;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: -.2px;
    text-transform: capitalize;
    color: white;
    margin: 0px;
}

h1 strong{
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
}
.hero {
    height: 300px;
    /*background-image: url('../imagenes/hero1.jpg');*/
    background-color: #1b2127;
   /* background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project {
   /* border-top: 10px solid green;
    border-right: 10px solid green;
    border-left: 10px solid green;
    border-bottom: 10px solid green;*/
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project strong {
    font-family: 'Fira Sans', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.project-description{
    font-size: 20px;
}

.project-details {
    width: 50%;
}

.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%;

}



.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.event-list-title {
    margin: 20px;
}
.event-list {
    display: flex;
    flex-wrap: wrap;
}
.event {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    overflow: hidden;
    background: #f4fbff;
}

.event-image {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-details {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid #056fff;
    padding: 10px 20px;
    text-decoration: none;
    color: #056fff;
    border-radius: 5px;
}
.footer {
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.social{
}

.social-link { 
    display: inline-flex;
    width: 50px;
    height: 50px;;
    background-size: 50px 50px;
    margin: 0px 10px;
}

.social-link.instagram, .social-link.twitter, .social-link.facebook, .social-link.github{
    color: white;
}


.form-email input {
    border-color: grey;
    padding: 10px 20px 10px 25px;
    background-image: url('../imagenes/email.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form-email button {
    display: block;
    padding: 10px 0px;
    background: transparent;
    color: white;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0px auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.video-container{
    display: flex;
    width: 100%;
    height:auto;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: 	hsl(180, 20%, 93%);
}
.hmtl-video{
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kq1e3y');
    src:  url('../fonts/icomoon.eot?kq1e3y#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kq1e3y') format('truetype'),
      url('../fonts/icomoon.woff?kq1e3y') format('woff'),
      url('../fonts/icomoon.svg?kq1e3y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-facebook2:before {
    content: "\ea91";
    font-size: 3em;
  }
  .icon-instagram:before {
    content: "\ea92";
    font-size: 3em;
  }
  .icon-twitter:before {
    content: "\ea96";
    font-size: 3em;
  }
  .icon-github:before {
    content: "\eab0";
    font-size: 3em;
  }
  

@media screen and (max-width: 1024px){
    .container{
        padding: 0 1em;
    }
    .hero{
        height: auto;
        padding: 2em;
        position: relative;
        overflow: hidden;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    h1{
        font-size: 2em;
        z-index: 2;
    }
}



@media screen and (max-width: 767px){
    .header{
        display: block;
        height: auto;
    }
    .header ol {
        display: initial;
    }
    .header a {
        justify-content: center;
    }
    .header ol li {
        height: 50px;
        text-align: center;
    }
    .header .logo{
        text-align: center;
    }
    
    .project{
        display: block;
    }

    .project-details{
        width: auto;
        font-size: 16px;
    }
    .project-imageContainer{
        width: auto;
        text-align: center;
    }

    .project-title{
        font-size: 1.7em;
        margin: .4em 0;
    }
    .project-job{
        font-size: 1.5em;
        margin: .4em 0;
    }
    .project-date{
        font-size: .8em;
        margin: .4em 0;
    }
    .project-description{
        font-size: .9em;
        margin: .4em 0;
    }
    .event{
        width: auto;
        flex-shrink: initial;
    }
    .event img{
        width: 100%;
    }
    .event-details{
        margin: -10px 10px 10px 10px;
        padding: 1em;
    }
}

@media screen and (max-width: 508px){
    h1{
        font-size: 1.5em;
    }
    .project-details{
        font-size: 12px;
    }
    .event-details{
        margin: -10px 10px 10px 10px;
        padding: 1em;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin: 1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}


@media screen and (max-width: 320px){
    h1{
        font-size: 1.2em;
    }
    .hero{
        padding: 2em 1em;
    }
}
